<% @articles.each do |article| %>
  <h2><%= article.title %></h2>
  <p><%= article.created_at.strftime('%b %d, %Y') %></p>
  <p><%= truncate(article.content, length: 200) %></p>
<% end %>
<% if user_signed_in? %>
  <p><%= link_to "New Article", new_article_path %></p>
<% else %>
  <p><%= link_to "Sign in", new_user_session_path %></p>
  <p><%= link_to "Sign up", new_user_registration_path %></p>
<% end %>